:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
  }
/* start globel */
body {
    font-family: "Open Sans", sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}

/* mobile */
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
/* meduim */
@media (min-width: 992px){
    .container {
        width: 970px;
    }
}
/* larg */
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
.container {
    padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  }
.special-heading {
    font-size: 36px;
    padding: 0;
    margin-bottom: 60px;
    letter-spacing: 1.3px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.special-heading::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% + 30px);
}
.special-heading::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black ;
    border-radius: 50%;
    right: 50%;
    transform: translate(50% , -50%);
    top: calc(100% + 30px);
} 

.special-heading + p{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 100px;
    color: #777;
}
/* end globel */
/* ======================================== */
/* start header  */
header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
  }
  header .container nav .toggle-menu {
    color: white;
    font-size: 17px;
}
@media (min-width: 768px){
    header .container nav .toggle-menu {
        display: none;
    }
}
header .container::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    bottom: 0;
    left: 15px;
    z-index: 2;
}  

header .container .logo img {
    height: 60px;
    margin-left: -16px;
    z-index: 5;
}
header .container nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
header .container nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header .container nav ul {
      display: none ; 
    }
    header nav .toggle-menu:hover + ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 50%);
    }
    header nav ul li a {
      padding: 15px !important;
    }
  }
  header nav ul li a {
    padding: 40px 10px;
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
  }
  header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }

header .container nav .form {
    height: 40px;
    width: 60px;
    text-align: center;
    border-left: 1px solid white;
    margin-left: 30px;
    z-index: 2;
}
header .container nav .form i {
    font-size: 17px;
    color: white;
    margin-left: 15px;
    position: relative;
    line-height: 40px;
}
/* end header  */
/* ======================== */
/* start landing */
.landing {
    background-image: url(/imgs/landing.jpg);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}
.landing .container {
    width: 100%;
    padding: 0;
}
.landing .overlay {
   background-color: rgb(0 0 0 / 60%);
   width: 100%;
   height: 100%;
   position: absolute;
}
.landing .change-background {
    color: #a2a2a2;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
}
.landing .change-background:hover  {
    cursor: pointer;
}
@media (max-width: 767px){
    .landing .change-background {
        display: none;
    }
}
.landing .fa-angle-left {
    left: 30px;
}
.landing .fa-angle-right {
    right: 30px;
}
.landing .text {
    position: absolute;
    width: 50%;
    background-color: var(--transparent-color);
    top: 50%;
    transform: translatey(-50%);
    color: white;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px){
   .landing .text {
    width: 100%;
   }
   .landing .text .content {
    width: 100%;
}

}

.landing .text .content {
    width: 500px;
}
.landing .text .content h2 {
    font-weight: normal;
    font-size: 32px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}
.landing .bullts {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.landing .bullts:hover  {
    cursor: pointer;
}
.landing .bullts li {
    width: 15px;
    height: 15px;
    border: 3px solid  #a2a2a2; 
    border-radius: 50%;
    margin-right: 5px;
}
.landing .bullts .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* ======================== */
/* start sevices */
    .services {
        margin-top: var(--section-padding);
        margin-bottom: var(--section-padding);
    }
    


    @media (min-width: 768px) {
        .services .objects {
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
          grid-column-gap: 40px;
          grid-row-gap: 60px;
        }
      } 

    .services .container .objects  .serv {
        display: flex;
        align-content: center;
       
    }

    .services .container .objects  .serv i {
        font-size: 30px;
        margin-right: 30px;
    }
    @media (max-width: 767px) {
        .services .container .objects  .serv {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-bottom: 40px;
        }
        .services .container .objects  .serv i {
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 20px;
            margin-left: 0px;        }
    }
    .services .container .objects  .serv .text {
        width: 400px;
    }
    @media (max-width: 991px) {
        .services .container .objects  .serv .text {
            width: 80%;
        }
    }
    .services .container .objects  .serv .text h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 800;
    color: var(--main-color);
    }
    .services .container .objects  .serv .text p {
        font-size: 13px;
        line-height: 1.6;
        font-weight: 300;
        color: #777;
    }
    .services-cover {
        width: 100%;
        height: 80vh;
        margin-top: 100px;
        background-image: url(/imgs/services-cover.jpg);
        background-size: cover;
        background-position:center ;
        position: relative;
    }
    .services .services-cover .overlay {
            background-color: rgb(0 0 0 / 60%);
            width: 100%;
            height: 100%;
            position: absolute;

    }
    .services .services-cover .text {
        position: absolute;
        width: 50%;
        background-color: var(--transparent-color);
        top: 50%;
        transform: translatey(-50%);
        color: white;
        padding: 50px;
        display: flex;
        right: 0;
    } 

    @media (max-width: 767px){

        .services .services-cover .text {
         width: 100%;
        }
     
     }

    .services .services-cover .text h2 {
        font-weight: normal;
        font-size: 26px;
        line-height: 1.6;
        margin-bottom: 50px;
    }

    .services .services-cover .text ul li {
        margin: 20px 0;
    }
    .services .services-cover .text ul li i {
        margin-right: 20px;
    }
/* end sevices */
/* ================= */
/* start portfolio */
.portfolio {
    margin-top: var(--section-padding);
    margin-bottom: var(--section-padding);
}
.portfolio .contanier {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.portfolio .contanier ul {
    display: flex;
    margin: 0 0 30px;

}
.portfolio .contanier ul li {
    padding: 15px 10px;
    font-weight: bold;
    transition: 0.3s;
}
.portfolio .contanier ul li:hover {
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}
.portfolio .objects {
    
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

}
.portfolio .objects .images {
    position: relative;
    flex-basis: 100%;
    overflow: hidden;
}
.portfolio .objects .hide1 ,
.portfolio .objects .hide2 {
    display: none;
}
 .portfolio .objects .images .change-background {
     color: white;
     position: absolute;
     top: 50%;
     transform: translatey(-50%);
 }
 .portfolio .objects .images .change-background:hover  {
     cursor: pointer;
 }
 .portfolio .objects .images  .fa-angle-left {
    left: 30px;
}
.portfolio .objects .images  .fa-angle-right {
    right: 30px;
}

@media (min-width: 768px) {
    .portfolio .objects .images {
        flex-basis: 50%;
    }
    .portfolio .objects .hide1 {
        display: block;
    }
    .portfolio .objects .images .change-background {
        display: none;
    }
}
@media (min-width: 1199px) {
    .portfolio .objects .images {
        flex-basis: 25%;
    }
    .portfolio .objects .hide2 {
        display: block;
    }
    .portfolio .objects .images .change-background {
        display: none;
    }
}


.portfolio .objects .images img {
    width: 100%;
    height: 100%;
}
.portfolio .objects .images .overlay {
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    transition: 0.3s;
}
.portfolio .objects .images .before {
    font-size: 20px;
    max-width: 100%;
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: bold;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: var(--transparent-color);
    border-top: 1px solid white;
    bottom:  -100%;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;

}
.portfolio .objects .images:hover  .overlay {
    display: block;
}
.portfolio .objects .images:hover .before {
    bottom: 0;
    
}


.portfolio .contanier button {
    padding: 10px 50px;
    font-weight: bold;
    border:1px solid black;
    outline: none;
    transition: 0.3s;
}
.portfolio .contanier button:hover {
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}
.portfolio-cover {
    width: 100%;
    height: 80vh;
    margin-top: 100px;
    background-image: url(/imgs/portfolio-cover.jpg);
    position: relative;
}
.portfolio .portfolio-cover .overlay {
        background-color: rgb(0 0 0 / 60%);
        width: 100%;
        height: 100%;
        position: absolute;

}
.portfolio .portfolio-cover .text {
    position: absolute;
    width: 100%;
    background-color: var(--transparent-color);
    top: 50%;
    transform: translatey(-50%);
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
} 
.portfolio .portfolio-cover .text h2 {
    font-weight: normal;
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.portfolio .portfolio-cover .text .content p {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 25px;
}

.portfolio .portfolio-cover .text .content button {
    padding: 10px 30px;
    font-weight: bold;
    border:1px solid black;
    outline: none;
    transition: 0.3s;
}
.portfolio .portfolio-cover .text .content button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
/* end portfolio */
/* ============================ */
/* start about us  */
 .aboutus-cover1 {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url("../imgs/aboutus-cover1.jpg");
    background-size: cover;
    position: relative;
   
}
 .aboutus-cover1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
  }

 .aboutus-cover1 .contanier {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.aboutus-cover1 .contanier .col {
  color: white;
  padding: 50px 0px;
  background-color: var(--transparent-color);
}

@media (max-width: 767px) {
     .aboutus-cover1 .contanier .col {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .aboutus-cover1 .contanier .col {
        flex-basis: 50%;
    }
}
@media (min-width: 992px) {
     .aboutus-cover1 .contanier .col {
        flex-basis: 25%;
    }
}
 .aboutus-cover1 .contanier i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.aboutus-cover1 .contanier .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
 .aboutus-cover1 .contanier p {
    font-size: 15px;
    font-weight: normal;
   
}
/* ourskills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.our-skills .container > div{
    position: relative;
    margin-bottom: 50px;
}

@media (min-width:992px){
    .our-skills .container > div {
        flex-basis: 45%;
    }
}

.our-skills .container > div h4 {
    text-align: center;
    font-weight: normal;
    margin: 0 0 30px;
    font-size: 20px;


}
.our-skills .container > div h4 + p {
    text-align: center;
    font-weight: 300;
    line-height: 1.8;
    margin: 0 0 60px;
    color: #777;

}

.our-skills .container > div .content {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  
}

.our-skills .container > div .content .text {
    line-height: 1.8;
    border-bottom: 2px solid black;
}
.our-skills .container > div .content .text p {
    text-align: right;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 16px;
    color: #777;

}

.our-skills .container > div img {
    width: 130px;
    height: 130px;
    border-radius:50% ;
    margin-right: 50px;
}
@media (max-width: 768px){
    .our-skills .container > div .content {
        flex-direction: column;
    }
    .our-skills .container > div .content .text {
        text-align: center;
    }
    .our-skills .container > div img {
        margin:  0 0 30px 0;
    }

}
.our-skills .container > div .bullts {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
@media (max-width: 768px){
    .our-skills .container > div .bullts {
        display: none;
    }
}
.our-skills .container > div .bullts:hover  {
    cursor: pointer;
}
.our-skills .container > div .bullts li {
    width: 12px;
    height: 12px;
    border: 2px solid #a2a2a2;
    border-radius: 50%;
    margin-right: 5px;
}
.our-skills .container > div .bullts .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* =========== */

.skills .prog-hoder {
    margin-bottom: 35px;
}
.skills .prog-hoder h3{
    margin-bottom: 15px;
    font-weight: lighter;
}
.skills .prog-hoder .prog {
    width: 100%;
    height: 30px;
    background-color:#dedadc;
}
.skills .prog-hoder .prog span {
    background-color: var(--main-color);
    height: 100%;
    display: block;
    position: relative;
}
.skills .prog-hoder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    color: white;
    background-color: black;
    padding: 2px 4px;
    font-size: 13px;
    right: 0px;
    transform: translatex(50%);
    top: -27px;

}
.skills .prog-hoder .prog span::after {
    content: "";
    position: absolute;
    border: 7px solid;
    border-color: black transparent transparent;
    right: 0px;
    transform: translatex(50%);
    top: -10px;
}

    
/* cover2 */
.aboutus .aboutus-cover2 {
    height: 50vh;
    background-image: url(/imgs/aboutus-cover2.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.aboutus .aboutus-cover2 .overlay {
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    
}

.aboutus .aboutus-cover2 .text{
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    color: white;

    text-align: center;
    margin: 0 auto;

}
.aboutus .aboutus-cover2 .text h2 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
    line-height: 1.6;
    max-width: 800px;
}
.aboutus .aboutus-cover2 .text p {
    font-size: 10px;
}
/* end about us  */
/* ===================== */
/* start pricing */
.pricing {
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    grid-gap: 30px;
}
.pricing .plans .plan {
    text-align: center;
    margin-bottom: 50px;
}
.pricing .plans .plan .head {
    border-top: 2px solid var(--main-color) ;
    border-bottom: 2px solid var(--main-color) ;
    padding: 20px;
}
.pricing .plans .plan .head h2 {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #777;
}
.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: 500;
    position: relative;
}
.pricing .plans .plan .head span::after {
    content: "MO";
    position: absolute;
    font-size: 17px;
    bottom: 0;
    right: -40px;
    font-weight: 400;

}
.pricing .plans .plan .head span::before {
    content: "$";
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    left: -17px;
}

.pricing .plans .plan ul {
    border-bottom: 2px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 25px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    color: #777;
}
.pricing .plans .plan ul li:not(:last-child)::before {
    content: "";
    background-color: var(--main-color);
    height: 2px;
    width: 136px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.pricing .plans .plan .foot {
    padding: 25px;
}
.pricing .plans .plan .foot button {
    padding: 5px 10px; 
    font-weight: bold;
    background-color: transparent;
    color: #777;
    border-color: var(--main-color);
    transition: 0.3s;

}
.pricing .plans .plan .foot button:hover {
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
}

.pricing .contactus {
    text-align: center;
}
.pricing .contactus h2 {
    font-size: 16px;
    margin: 20px 0 40px;
    font-weight: 400;
}
.pricing .contactus button {
    padding: 10px 25px;
    font-weight: bold;
    transition: 0.3s;
}
.pricing .contactus button:hover {
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
}
/* pricing-cover */
.pricing-cover {
    background-image: url(/imgs/pricing-cover.jpg);
    background-size: cover;
    position: relative;
    padding: var(--section-padding);

}
.pricing-cover .overlay {
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.pricing-cover .container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.pricing-cover .container form {
    width: 500px;
    max-width: 100%;
    display: flex;
    position: relative;
}
.pricing-cover .container form input[type="email"] {
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    color: white;
    min-width: 200px;
    max-height: 60px;

    
}
.pricing-cover .container form input[type="email"]:focus {
    outline:  none;
}
.pricing-cover .container form ::placeholder {
    color: white;
    font-size: 15px;
}
.pricing-cover .container form i {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    padding: 0 20px;
}
.pricing-cover .container form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    border: 1px solid white;
    border-left: none;
    color: white;
    padding: 10px 15px;
    max-height: 60px;

}
.pricing-cover .container form input[type="submit"]:hover {
    cursor: pointer;
}
.pricing-cover .container p {
    color: white;
    width: 500px;
    margin-left: 36px;
    max-width: 100%;
    font-size: 17px;
    line-height: 1.6;
    font-weight: 600;
}
@media (max-width: 768px) {
    .pricing-cover .container {
        flex-direction: column;
        text-align: center;
    }
    .pricing-cover .container form {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
    }

    .pricing-cover .container form i {
        left: 64px;
         top: 31px;
         
    }
    .pricing-cover .container form input[type="email"] {
        /* padding: 20px;z */
        border: 1px solid white;
        margin-bottom: 20px;

    }
    .pricing-cover .container form input[type="submit"] {
        border: 1px solid white;
    }

    .pricing-cover .container p {
        margin: 0;
    }

}

/* end pricing */
/* ================== */
/* start contactus  */

.contactus {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contactus .container {
    display: flex;
    flex-direction: column;
}
.contactus .container .box1 ,
.contactus .container .box2 {
    display: flex;
    width: 100%;
    /* justify-content: space-evenly; */
}

.contactus .container .box1 form ,
.contactus .container .box2 form {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.contactus .container .box1 form input , 
.contactus .container .box2 form input ,  
.contactus .container .box2 form textarea   {
    margin-bottom: 20px;

}

.contactus .container .box1 form input {
    background-color: transparent;
    border: 1px solid #777;
    padding: 20px;
    caret-color: var(--main-color);
    color: black;
    position: relative;
}
.contactus .container .box form input:focus , 
.contactus .container .box form textarea:focus  {
    outline: none;
}
.contactus .container .box .text {
    margin-left: 20px;
    width: 20%;
}
.contactus .container .box .text h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.contactus .container .box .text p {
    font-size: 16px;
    color: #777;
    margin-bottom: 5px;
    line-height: 1.6;
}
.contactus .container .box2 form textarea {
    background-color: transparent;
    border: 1px solid #777;
    padding: 20px;
    caret-color: var(--main-color);
    color: black;
    height: 200px;
    resize: none;
}
.contactus .container .box2 form input[type="submit"] {
    padding: 15px 25px;
    font-weight: bold;
    transition: 0.3s;
    width: fit-content;
    align-self: self-end;
}
.contactus .container .box2 form input[type="submit"]:hover {
    background-color: var(--main-color);
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .contactus .container .box {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .contactus .container .box form {
        width: 100%;
    } 
    .contactus .container .box .text {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .contactus .container .box2 form input[type="submit"] {
        align-self: center;
    }
}

/* end contactus  */

.contactus-cover {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(/imgs/last.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2;
}
.contactus-cover .overlay {
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    
}
.contactus-cover .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.contactus-cover .content .logo {
    width: fit-content;
    margin-bottom: 50px;
    background-color: white;
}
.contactus-cover .content img {
    width: 200px;
    position: relative;

}
.contactus-cover .content h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    position: relative;
}
.contactus-cover .content h2::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 150%;
    background-color: rgb(255, 255, 255);
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.contactus-cover .content ul {
    display: flex;
    width: 184px;
    justify-content: space-between;
    margin-bottom: 60px;
}
.contactus-cover .content ul li {
    display: inline-block;
    font-size: 20px;
}
.contactus-cover .content p {
    font-size: 16px;

}